body {
    background-color: black;
    color: white;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
}

.cell img {
    width: 25px;
    height: auto;
}

.floor {
    background-color: gray;
}

.wall {
    background-color: brown;
}
.newGame {
    display: none;
}
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);

    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    top: 200px;
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
}

.winning-message button:hover {
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
}

.winning-message.show {
    display: flex;
}